body {
  --color-bg: white;
  --color-bgDim: rgb(250, 251, 252);
  --color-fg: #454545;
  --color-accent: #c9a023;
  --color-accent2: #b51bcd;
  --color-border: rgb(232, 232, 232);
  --color-danger: rgb(255, 83, 83);

  --header-height: 60px;
  --footer-height: 60px;

  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: 'DM Serif Display', serif;

  color: var(--color-fg);
  background-color: var(--color-bg);
}

body.dark {
  --color-bg: #151515;
  --color-bgDim: #2b2b2b;
  --color-fg: #d1d1d1;
  --color-accent: rgb(255, 243, 149);
  --color-accent2: lightpink;
  --color-border: #464646;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

.h-fill {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
